<h2>
    <% if @result.empty? %>
        No search results found
    <% else %>
          Search results
    <% end %>
       for  <q><%= @query %></q>
<%= render "movie/form" %>
     </h2>
<%= render "movie/results" unless @result.empty? %>
         
