// Place all the styles related to the movie controller here.  // They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
  text-align: center;
}

.form-wrapper {

}
input {
  width: 400px;
  height: 50px;
 font-size: 17.5px;
 border-radius: 15px;
 text-align: center;
}

button {
 padding: 11px 19px;
 font-size: 17.5px;
 border-radius: 10px;
}
.center {
  width: 800px;
  margin: auto;
}
.list {
  width: 600px;
  margin: auto;
}
.container {
  width:800px;
  margin: auto;
}
#details, #poster {
  width:400px;
  float:left;
}

img {
  width: 200px;
  height: auto;
  margin-left: 140px;
}

#details img {
  height: 20px;
  width: auto;
}
.emoji {
  height: 20px;
  width: auto;

}

a {
  text-decoration: none;
}

#details dd, dt {
  text-size: 20px;
  text-align: inline
}

.list li {
  font-size: 20px;
}
