<form action="/results">
  <input type="text" name="q" method="get" placeholder="Enter Movie Title" />
  <button type="search">Search</button>
  <button type="lucky">I'm Feeling Lucky</button>
</form>
