<div class="center">
<%= render "movie/form" %>
  <% if @result.nil? %>
    <h2> No Results Found</h2>
<% else %>
  <h2>Search Results For <%= @query.capitalize %></h2>
<% end %>
  <div class="list">
     <%= render "movie/list" unless @result.nil? %>
  </div>
</div>
